<div class="container mt-5 mb-5">
  <h4 class="text-center"><%= "#{@tag.tag_name}" %>に関する投稿</h4>
  <div class="row">
    <div class="col-md-2"></div>
    <%= render 'posts/index', posts: @posts %>
  </div>
</div>

