/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 body{
  position: relative;
  z-index: 10;
  font-family: "Gill Sans", sans-serif;
  color: #663333;
  background-color: #fff5ee; /* 背景色 */
  background-image: linear-gradient(180deg, #ccc 1px, transparent 1px); /* 罫線の色と太さ  */
  background-size: 100% 2.0em; /* 行の高さ */
  line-height: 1.5em; /* 文字の高さ */
  padding-bottom: 1px; /* 最終行の下にも罫線を引く */
  display: flex;
  flex-flow: column;
  min-height: 100vh;
 }

 header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
 }

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
 }

 .konbu{
  background-image: image-url('konbucafe.png');
  background-size: cover;
  width: 150px;
  height: 50px;
 }

 .iro{
  color: #a0522d;
 }

 .back{
  color: #000;
 }

 // ページネーション
 .pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #663333;   /*文字の色を変える*/
  background-color: #D8BfD8;    /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
 }

 .pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
 }

 .edit, .destroy{
  color: #fff;
 }

 .back{
  color: #000;
 }
