// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box-inner{
  max-width: 700px;
  margin: 200px auto;
  padding: 0 40px;
}

.box{
  margin: 100px auto 0;
}
// アニメーション
.fade-in {
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
}

.fade-in-up {
  background-image: image-url('8054.jpg');
  background-size: cover;
  width: 500px;
  height: 500px;
  transform: translate(0, 50px);
}

.fade-in-down {
  background-image: image-url('8051.jpg');
  background-size: cover;
  width: 500px;
  height: 500px;
  transform: translate(0, -50px);
}

.fade-in-left {
  background-image: image-url('8052.jpg');
  background-size: cover;
  width: 500px;
  height: 500px;
  transform: translate(-50px, 0);
}

.fade-in-right {
  background-image: image-url('8053.jpg');
  background-size: cover;
  width: 500px;
  height: 500px;
  transform: translate(50px, 0);
}

.fade-in-signup {
  background-image: image-url('SignUp.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  transform: translate(0, 50px);
}

.fade-in-login {
  background-image: image-url('Login.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  transform: translate(0, -50px);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.box-overall {
  margin: 100px auto;
  padding: 0 40px;
}

.img-box {
  margin: 0 auto 200px;
}

.about-img {
  background-image: image-url('about.jpg');
  background-size: cover;
  width: 716px;
  height: 447px;
  // 画像に影をつける
  box-shadow: 0 10px 10px #666666;
}

.todo {
  color: #A0522D;
}

.todo-img {
  background-image: image-url('todo.png');
  background-size: cover;
  width: 400px;
  height: 400px;
}
