<div class="row mt-3 mb-2">
  <h5 class="col-md-4" style="background-color: #add8e6;">投稿者名</h5>
  <h5 class="col-md-3" style="background-color: #add8e6;">タイトル</h5>
  <h5 class="col-md-3" style="background-color: #add8e6;">店名</h5>
  <h5 class="col-md-2" style="background-color: #add8e6;"></h5>
</div>
<div class="row">
  <% posts.each do |post| %>
  <div class="col-md-4"><%= post.user.name %></div>
  <div class="col-md-3"><%= post.title %></div>
  <div class="col-md-3"><%= post.shop_name %></div>
  <div class="col-md-2"><%= link_to "詳細", post_path(post), class: "konbulink" %></div>
  <% end %>
</div>
