<div class="row mt-3 mb-3">
  <div class="col-md-5"></div>
  <div class="col-md-7">
  <% users.each do |user| %>
    <%= link_to user_path(user), class: "konbulink" do %>
      <%= user.name %><br>
    <% end %>
  <% end %>
  </div>
</div>
